* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}
